footer {
    color: #fff;
    background-color: #363636;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer * {
    color: #fff;
    padding-bottom: 5px;
}

.sns-list {
    display: flex;
    gap: 5px;
}

.snslist li {
    margin: 10px 0;
}

.sns-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.sns-list li img {
    width: 24px;
    margin-right: 8px;
}